# Binary files
obj/
recorder
grid
singlestream
__pycache__

# Temp files
*~*

# Logs
*.log

# Credentials
*.pickle

# Qt files
*.config
*.files
*.creator*
*.includes
*.pro

# VS Code files
.vscode

# Data
custom_cams.json
gsuite_rooms.json