# Binary files
obj/
recorder
grid
singlestream
__pycache__

# Temp files
*~*

# Logs
*.log

# Credentials
*.json
*.pickle

# Qt files
*.config
*.files
*.creator*
*.includes
*.pro

# VS Code files
.vscode

# Cameras
./core/db/room.json
