window#menu {
	background-color: #444444;
}

button {
	background-color: #444444;
	background-image: none;
	color: white;
	-GtkWidget-focus-line-width: 5px;
}

button label {
	font-size: 2em;
	font-family: Quicksand;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

label#playerLabel {
	color: white;
	font-size: 2em;
	font-family: Quicksand;
}

#playerLabelFrame {
	background-color: black;
}

