label {
	font-size: 2em;
	font-family: Quicksand;
	margin-top: 33px;
	margin-bottom: 33px;	
}

button > label {
	font-size: 2em;
	font-family: Quicksand;
	margin-left: 100px;
	margin-right: 100px;
}

check {
	min-width: 30px;
	min-height: 30px;
	margin-left: 10px;
	margin-right: 5px;
}
